@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  font-family: 'Verdana', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: radial-gradient(#cfd9e1, #edf4f7);
  border-radius: 13px;
  padding: 10px;
  border: 3px #666 solid;
}

.swatch {
  height: 125px;
  width: 125px;
  border-radius: 5px;
  border: 5px solid grey;
  margin-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#current {
  margin-bottom: 10px;
  background-color: #6d7073;
  color: #e4e4e4;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9em;
}

.hueValueLabel,
.satValueLabel,
.lightValueLabel,
.alphaValueLabel {
  padding: 5px;
}
